{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Common API",
    "contact": {
      "name": "wflow.com Czech Republic",
      "url": "https://www.wflow.com"
    }
  },
  "paths": {
    "/api/Internal/documents/savelogsnapshot": {
      "get": {
        "tags": [
          "Internal"
        ],
        "operationId": "SaveLoggingSnapshotDocuments",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "uccl_common_api"
            ]
          }
        ]
      }
    },
    "/api/Internal/files/savelogsnapshot": {
      "get": {
        "tags": [
          "Internal"
        ],
        "operationId": "SaveLoggingSnapshotFiles",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "uccl_common_api"
            ]
          }
        ]
      }
    },
    "/api/Mail/incoming": {
      "post": {
        "tags": [
          "Mail"
        ],
        "operationId": "Incoming",
        "consumes": [],
        "produces": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "uccl_common_api"
            ]
          }
        ]
      }
    },
    "/api/User/myorganizations": {
      "get": {
        "tags": [
          "User"
        ],
        "operationId": "GetMyOrganizations",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrganizationDomain"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "uccl_common_api"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "OrganizationDomain": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "baseURL": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2": {
      "flow": "implicit",
      "authorizationUrl": "https://account.wflow.com/connect/authorize",
      "scopes": {
        "uccl_common_api": "Common API - full access"
      },
      "type": "oauth2"
    },
    "basic": {
      "type": "basic"
    }
  },
  "schemes": [
    "https"
  ],
  "host": "api.wflow.com"
}